<!DOCTYPE html>
<html>
	<style>
		body {
			background-color: black;
		}

		iframe {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: transparent;
		}
	</style>
	<body>
		<iframe id="contentiframe" src='' frameborder="0"> </iframe>
		<script>
			const wssport = {WEBSOCKETPORT};

			const contentif = document.getElementById("contentiframe");
    			const ws = new WebSocket(`ws://${location.hostname}:${wssport}`);
			
			ws.onmessage = (message) => {
				let url = `/templates/${message.data}/index.html`;
				SwitchContent(url);
			}

			function SwitchContent(url){
				contentif.src = url;
			}
		</script>
	</body>
</html>